@mixin justufy($direccion:row,$tipo)
    display: flex
    flex-direction: $direccion
    justify-content: $tipo

@mixin alignItm($direccion:row,$tipo)
    display: flex
    flex-direction: $direccion
    align-items: $tipo
    

    